Repository thousandmiles/kuikui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-root, config, docs, ci, security, ts

test: update TypeScript and ESLint configs for test files
  backend/.eslintrc.js
  backend/tsconfig.json
  frontend/.eslintrc.cjs
  frontend/tsconfig.json
Labels: backend, frontend, config, ts

ci: integrate test execution into GitHub Actions workflow
  .github/workflows/ci.yml
Labels: ci

docs: add test framework documentation and gitignore
  .gitignore.test
  TEST_STATUS.md
Labels: docs

remove doc
  TEST_STATUS.md
Labels: docs

test: add coverage scripts and adjust thresholds
  backend/vitest.config.ts
  frontend/vitest.config.ts
  package.json
Labels: backend, frontend, shared-root

modify ci flow
  .github/workflows/ci.yml
Labels: ci

test(backend): suppress winston logger output in tests
  backend/test/setup.ts
Labels: backend

test(config): improve test reporter output and suppress console logs
  backend/vitest.config.ts
  frontend/vitest.config.ts
Labels: backend, frontend

test(frontend): filter react router warnings and test noise
  frontend/test/setup.ts
Labels: frontend

chore: add copilot commit message generation prompt
  .github/prompts/copilot_commit.prompt.md
Labels: docs

chore(deps): upgrade @typescript-eslint packages to v8.46.2
  backend/package.json
  frontend/package.json
  package-lock.json
Labels: backend, frontend, shared-root, security

fix(backend): improve logger context stringification for objects
  backend/src/utils/logger.ts
Labels: backend

fix(frontend): replace console.warn with structured logging
  frontend/src/components/RichTextEditor.tsx
  frontend/src/services/socketProvider.ts
Labels: frontend

fix(frontend): improve error handling and nullish coalescing patterns
  frontend/src/components/ChatArea.tsx
  frontend/src/services/socketService.ts
Labels: frontend

style(frontend): format CSS and test files
  frontend/src/index.css
  frontend/src/utils/__tests__/validation.test.ts
Labels: frontend

test(backend): add comprehensive validation and socket error tests
  backend/src/utils/__tests__/socketErrors.test.ts
  backend/src/utils/__tests__/validation.test.ts
Labels: backend

test(backend): extend roomService tests to 100% coverage
  backend/src/services/__tests__/roomService.test.ts
Labels: backend

test(backend): increase coverage thresholds
  backend/vitest.config.ts
Labels: backend

test(frontend): add component tests for ChatArea and UserList
  frontend/src/components/__tests__/ChatArea.test.tsx
  frontend/src/components/__tests__/UserList.test.tsx
Labels: frontend

test(frontend): add service tests for API and user persistence
  frontend/src/services/__tests__/apiService.test.ts
  frontend/src/services/__tests__/userPersistenceService.test.ts
Labels: frontend

test(frontend): add scrollIntoView mock and increase coverage thresholds
  frontend/test/setup.ts
  frontend/vitest.config.ts
Labels: frontend

chore: remove temporary gitignore test file
  .gitignore.test
Labels: none

test: add comprehensive socketService tests
  frontend/src/services/__tests__/socketService.test.ts
  frontend/src/services/socketService.ts
Labels: frontend

test: add comprehensive socketProvider tests
  frontend/src/services/__tests__/socketProvider.test.ts
Labels: frontend

fix: resolve TypeScript errors in socketService tests
  frontend/src/services/__tests__/socketService.test.ts
Labels: frontend

test: add App and LoadingComponents tests
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/__tests__/LoadingComponents.test.tsx
Labels: frontend

test: add comprehensive OperationsPanel tests
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/__tests__/LoadingComponents.test.tsx
  frontend/src/components/__tests__/OperationsPanel.test.tsx
Labels: frontend

test: add comprehensive CompactSidebar tests
  frontend/src/components/__tests__/CompactSidebar.test.tsx
Labels: frontend

test: add comprehensive EditorWorkspace tests
  frontend/src/components/__tests__/EditorWorkspace.test.tsx
Labels: frontend

style(tests): standardize quote style in component tests
  frontend/src/components/__tests__/CompactSidebar.test.tsx
  frontend/src/components/__tests__/EditorWorkspace.test.tsx
  frontend/src/components/__tests__/OperationsPanel.test.tsx
Labels: frontend

test(pages): add comprehensive test coverage for HomePage
  frontend/src/pages/__tests__/HomePage.test.tsx
Labels: frontend

test(components): add RichTextEditor test suite with ProseMirror mocks
  frontend/src/components/__tests__/RichTextEditor.test.tsx
Labels: frontend

test(pages): add RoomPage test suite for room verification and join flow
  frontend/src/pages/__tests__/RoomPage.test.tsx
Labels: frontend

test(utils): add comprehensive logger utility test suite
  frontend/src/utils/__tests__/logger.test.ts
Labels: frontend

test(backend): add Socket.IO integration tests for join, messaging, typing, and nickname conflicts
  backend/src/services/__tests__/socketService.integration.test.ts
Labels: backend

test(backend): stabilize RoomService tests via test-only reset and isolate getStats suite
  backend/src/services/__tests__/roomService.test.ts
  backend/src/services/roomService.ts
Labels: backend

test(frontend): add deterministic fake-timers test for ChatArea typing inactivity timeout
  frontend/src/components/__tests__/ChatArea.test.tsx
Labels: frontend

docs: add AI coding agent instructions with architecture, workflows, and gotchas
  .github/copilot-instructions.md
Labels: docs

update
  README.md
Labels: docs

add images
  README.md
  docs/collaboration.png
  docs/edit mode.png
  docs/home page.png
  docs/join page.png
  docs/receive msg.png
  docs/send msg.png
Labels: docs

.github/labeler.yml:

backend:
  - "backend/**"
  - "backend/package.json"
  - "backend/package-lock.json"
  - "backend/tsconfig.json"

frontend:
  - "frontend/**"
  - "frontend/package.json"
  - "frontend/package-lock.json"
  - "frontend/vite.config.*"
  - "frontend/tailwind.config.*"
  - "frontend/postcss.config.*"

shared-root:
  - "package.json"
  - "package-lock.json"
  - "scripts/**"

tests:
  - any:
      - "**/*.test.[jt]s"
      - "**/*.spec.[jt]s"
      - "**/__tests__/**"

config:
  - ".editorconfig"
  - ".prettierrc*"
  - ".eslint*"
  - "**/.eslintrc.*"
  - "**/.prettierrc.*"
  - "backend/.eslintrc.*"
  - "frontend/.eslintrc.*"

docs:
  - "**/*.md"
  - "README.md"

ci:
  - ".github/workflows/**"

security:
  - ".github/workflows/security-*.yml"
  - "Dockerfile"
  - "**/package-lock.json"
ts:
  - "**/tsconfig*.json"
