Repository thousandmiles/kuikui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-root, config, docs, ci, security, ts

.github/labeler.yml:

backend:
  - "backend/**"
  - "backend/package.json"
  - "backend/package-lock.json"
  - "backend/tsconfig.json"

frontend:
  - "frontend/**"
  - "frontend/package.json"
  - "frontend/package-lock.json"
  - "frontend/vite.config.*"
  - "frontend/tailwind.config.*"
  - "frontend/postcss.config.*"

shared-root:
  - "package.json"
  - "package-lock.json"
  - "scripts/**"

tests:
  - any:
      - "**/*.test.[jt]s"
      - "**/*.spec.[jt]s"
      - "**/__tests__/**"

config:
  - ".editorconfig"
  - ".prettierrc*"
  - ".eslint*"
  - "**/.eslintrc.*"
  - "**/.prettierrc.*"
  - "backend/.eslintrc.*"
  - "frontend/.eslintrc.*"

docs:
  - "**/*.md"
  - "README.md"

ci:
  - ".github/workflows/**"

security:
  - ".github/workflows/security-*.yml"
  - "Dockerfile"
  - "**/package-lock.json"
ts:
  - "**/tsconfig*.json"

apply validation rule for any input
  backend/src/services/socketService.ts
  frontend/src/components/ChatArea.tsx
  frontend/src/pages/RoomPage.tsx
Labels: backend, frontend

add room id check
  backend/src/routes/rooms.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RoomPage.tsx
Labels: backend, frontend

Task 1.6.4: Add message timestamps for chat context
  frontend/src/components/ChatArea.tsx
  frontend/src/utils/dateTime.ts
Labels: frontend

create loading button
  frontend/src/components/LoadingComponents.tsx
Labels: frontend

add loading status for sending msg
  frontend/src/components/ChatArea.tsx
Labels: frontend

add loading status for navigating
  frontend/src/pages/HomePage.tsx
Labels: frontend

add loading status for joining room
  frontend/src/pages/RoomPage.tsx
Labels: frontend

add room capacity
  .env.example
  backend/src/config/environment.ts
Labels: backend

check room capacity
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
  frontend/src/pages/RoomPage.tsx
  frontend/src/types/index.ts
Labels: backend, frontend

add vite env variables
  .env.example
Labels: none

distribute variables from root
  scripts/env-setup.js
  scripts/env-validate.js
Labels: shared-root

load variables from local
  backend/src/config/environment.ts
  backend/src/index.ts
Labels: backend

add debug info
  backend/src/index.ts
  frontend/src/main.tsx
Labels: backend, frontend

create backend error interface
  backend/src/services/socketService.ts
  backend/src/types/index.ts
  backend/src/utils/socketErrors.ts
Labels: backend

create frontend error interface
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/socketService.ts
  frontend/src/types/index.ts
Labels: frontend

fix reconnected bug
  frontend/src/services/socketService.ts
Labels: frontend

fix minor potential bug
  backend/src/services/socketService.ts
Labels: backend

update sprint2 goals
  README.md
Labels: docs

Clean up sprint tasks and stories in README
  README.md
Labels: docs

draft version
  README.md
  backend/src/services/documentService.ts
  backend/src/services/operationTrackingService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
  frontend/package.json
  frontend/src/components/ChatArea.tsx
  frontend/src/components/CompactSidebar.tsx
  frontend/src/components/EditorWorkspace.tsx
  frontend/src/components/OperationsPanel.tsx
  frontend/src/components/RichTextEditor.tsx
  frontend/src/components/SimpleSelect.tsx
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/socketProvider.ts
  frontend/src/services/socketService.ts
  frontend/src/types/index.ts
  package-lock.json
Labels: backend, frontend, shared-root, docs, security

Potential fix for code scanning alert no. 6: Incomplete URL scheme check
  frontend/src/utils/validation.ts
Labels: frontend

adjust UI layout and toggle button style
  frontend/src/components/EditorWorkspace.tsx
  frontend/src/components/OperationsPanel.tsx
  frontend/src/components/RichTextEditor.tsx
Labels: frontend

refactor editor ui
  frontend/src/components/RichTextEditor.tsx
  frontend/src/index.css
Labels: frontend

refactor editor
  backend/src/services/socketService.ts
  frontend/src/components/EditorWorkspace.tsx
  frontend/src/components/OperationsPanel.tsx
  frontend/src/components/RichTextEditor.tsx
  frontend/src/services/socketProvider.ts
  frontend/src/services/socketService.ts
  frontend/tsconfig.json
Labels: backend, frontend, ts

remove unused components
  backend/src/services/documentService.ts
  backend/src/services/operationTrackingService.ts
  frontend/src/components/SimpleSelect.tsx
Labels: backend, frontend

update dependencies
  backend/package.json
  frontend/package.json
  package-lock.json
Labels: backend, frontend, shared-root, security

refactor panel
  frontend/src/components/EditorWorkspace.tsx
Labels: frontend

remove unused interface and properties
  frontend/src/components/OperationsPanel.tsx
Labels: frontend

remove footer
  frontend/src/components/RichTextEditor.tsx
Labels: frontend

resolve lint error
  frontend/tsconfig.json
Labels: frontend, ts

feat(backend): add user editing status tracking for collaboration
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
Labels: backend

feat(frontend): add editing status socket communication
  frontend/src/services/socketProvider.ts
  frontend/src/services/socketService.ts
  frontend/src/types/index.ts
Labels: frontend

feat(editor): implement real-time editing status tracking
  frontend/src/components/RichTextEditor.tsx
Labels: frontend

feat(ui): add editing status badge and clean up cursor styles
  frontend/src/components/UserList.tsx
  frontend/src/index.css
  frontend/src/pages/RoomPage.tsx
Labels: frontend

fix(editor): remove unused eslint-disable directive
  frontend/src/components/RichTextEditor.tsx
Labels: frontend

test: add Vitest and Testing Library dependencies
  backend/package.json
  frontend/package.json
  package-lock.json
Labels: backend, frontend, shared-root, security

test: add Vitest configuration for backend and frontend
  backend/vitest.config.ts
  frontend/vitest.config.ts
Labels: backend, frontend

test: add test setup files and helper utilities
  backend/test/helpers/socketTestHelpers.ts
  backend/test/helpers/testHelpers.ts
  backend/test/setup.ts
  backend/test/vitest.d.ts
  frontend/test/helpers/mockSocket.ts
  frontend/test/helpers/testUtils.tsx
  frontend/test/setup.ts
  frontend/test/vitest.d.ts
Labels: backend, frontend

test: add backend test suites (30 tests passing)
  backend/src/routes/__tests__/rooms.test.ts
  backend/src/services/__tests__/roomService.test.ts
Labels: backend

test: add frontend test suites (41 tests passing)
  frontend/src/pages/__tests__/HomePage.test.tsx
  frontend/src/utils/__tests__/dateTime.test.ts
  frontend/src/utils/__tests__/validation.test.ts
Labels: frontend
