Repository thousandmiles/kuikui, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-root, config, docs, ci, security, ts

Update env-validate.js
  scripts/env-validate.js
Labels: shared-root

Create ci.yml
  .github/workflows/ci.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update env-setup.js
  scripts/env-setup.js
Labels: shared-root

Update env-validate.js
  scripts/env-validate.js
Labels: shared-root

Update .eslintrc.js
  backend/.eslintrc.js
Labels: backend, config

Update .eslintrc.js
  backend/.eslintrc.js
Labels: backend, config

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update package.json
  package.json
Labels: shared-root

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update .eslintrc.cjs
  frontend/.eslintrc.cjs
Labels: frontend, config

Update .eslintrc.cjs
  frontend/.eslintrc.cjs
Labels: frontend, config

Update .eslintrc.cjs
  frontend/.eslintrc.cjs
Labels: frontend, config

Update .eslintrc.cjs
  frontend/.eslintrc.cjs
Labels: frontend, config

Update .eslintrc.cjs
  frontend/.eslintrc.cjs
Labels: frontend, config

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

add lint ignore
  .eslintignore
  .prettierignore
  .prettierrc.js
Labels: config

update lint configuration and rule
  backend/.eslintrc.js
  backend/.prettierrc.js
  backend/package.json
  frontend/.eslintrc.cjs
  frontend/.prettierrc.js
  frontend/package.json
  package-lock.json
  package.json
Labels: backend, frontend, shared-root, config, security

lint fix
  backend/src/config/environment.ts
  backend/src/index.ts
  backend/src/routes/rooms.ts
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
  frontend/src/App.tsx
  frontend/src/components/ChatArea.tsx
  frontend/src/components/UserList.tsx
  frontend/src/config/environment.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/apiService.ts
  frontend/src/services/socketService.ts
  frontend/src/types/env.d.ts
  frontend/src/types/index.ts
Labels: backend, frontend

fix lint errors
  backend/src/config/environment.ts
  backend/src/index.ts
  backend/src/routes/rooms.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
Labels: backend

update parse path
  backend/.eslintrc.js
  frontend/.eslintrc.cjs
Labels: backend, frontend, config

add logger utility
  backend/src/utils/logger.ts
  frontend/src/utils/logger.ts
Labels: backend, frontend

install logger
  backend/package.json
  frontend/package.json
  package-lock.json
Labels: backend, frontend, shared-root, security

replace console with logger
  backend/src/index.ts
  backend/src/routes/rooms.ts
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  frontend/src/config/environment.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/apiService.ts
  frontend/src/services/socketService.ts
Labels: backend, frontend

fix lint errors
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/apiService.ts
  frontend/src/services/socketService.ts
Labels: frontend

remove circular reference
  frontend/src/config/environment.ts
Labels: frontend

add a copy option for room id
  frontend/src/pages/RoomPage.tsx
Labels: frontend

handle existing nickname
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
Labels: backend

"You" badge shown
  frontend/src/components/UserList.tsx
  frontend/src/pages/RoomPage.tsx
Labels: frontend

refine the room cleanup
  backend/src/index.ts
  backend/src/services/socketService.ts
Labels: backend

refine user join room logic
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
Labels: backend

add local storage
  frontend/src/services/userPersistenceService.ts
Labels: frontend

read local data
  frontend/src/pages/RoomPage.tsx
Labels: frontend

send id to server
  frontend/src/services/socketService.ts
  frontend/src/types/index.ts
Labels: frontend

refine socket handle
  backend/src/services/socketService.ts
Labels: backend

use room id for local storage
  frontend/src/pages/RoomPage.tsx
  frontend/src/services/userPersistenceService.ts
Labels: frontend

enhance the UI style
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RoomPage.tsx
Labels: frontend

add owner identity
  backend/src/services/roomService.ts
  backend/src/services/socketService.ts
  backend/src/types/index.ts
  frontend/src/components/UserList.tsx
  frontend/src/pages/RoomPage.tsx
  frontend/src/types/index.ts
Labels: backend, frontend

update 'you' ui, remove boarder
  frontend/src/components/UserList.tsx
Labels: frontend

input validation and rules
  backend/src/utils/validation.ts
  frontend/src/utils/validation.ts
Labels: backend, frontend

.github/labeler.yml:

backend:
  - "backend/**"
  - "backend/package.json"
  - "backend/package-lock.json"
  - "backend/tsconfig.json"

frontend:
  - "frontend/**"
  - "frontend/package.json"
  - "frontend/package-lock.json"
  - "frontend/vite.config.*"
  - "frontend/tailwind.config.*"
  - "frontend/postcss.config.*"

shared-root:
  - "package.json"
  - "package-lock.json"
  - "scripts/**"

tests:
  - any:
      - "**/*.test.[jt]s"
      - "**/*.spec.[jt]s"
      - "**/__tests__/**"

config:
  - ".editorconfig"
  - ".prettierrc*"
  - ".eslint*"
  - "**/.eslintrc.*"
  - "**/.prettierrc.*"
  - "backend/.eslintrc.*"
  - "frontend/.eslintrc.*"

docs:
  - "**/*.md"
  - "README.md"

ci:
  - ".github/workflows/**"

security:
  - ".github/workflows/security-*.yml"
  - "Dockerfile"
  - "**/package-lock.json"
ts:
  - "**/tsconfig*.json"
